.wrapper{
  width: 600px;
  min-height: 300px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
form h3{
  text-align: center;
}
.form-controll {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.clear-btn{
  display: block;
  width: 100%;
}
@media(max-width:560px){
  body{
    padding: 10px;
    align-items: flex-start;
  }
  .wrapper{
    width: 100%;
    min-height: 300px;
    padding: 10px;
  }
}
@media(max-width:375.998px){
  body{
    padding: 5px;
    align-items: flex-start;
  }
  .wrapper{
    padding: 5px;
  }
}
