.wrapper{
  width: 600px;
  height: 500px;
  padding: 10px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
form h3{
  text-align: center;
}
.form-controll {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.clear-btn{
  display: block;
  width: 100%;
}
